body {
  background-color: #252525;
}

h1 {
  font-size: 3.5rem;
  padding: 2rem 0px 2rem 0px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
